<%- contentFor("styleSheet") %>
    <link rel="stylesheet" href="index.css">

<%- contentFor("body") %>
    <h2>We can help you shorten your long URLs</h2>
    <form method="POST" action="/links">
        <label for="long_url">Long URL: </label>
        <textarea name="long_url" cols="40", rows="8"></textarea>
        <input type="submit">
    </form>